# ignore everything
*

# except this file
!.gitignore
!.github
!.github/*
!.github/workflows/*
!.github/workflows/build-arisu-firmware.yml

# unignore my specific keyboard
!README.md
!keyboards
!keyboards/arisu
!keyboards/arisu/*/
!keyboards/arisu/keymaps/
!keyboards/arisu/keymaps/*/
!keyboards/arisu/keymaps/tbremer/
!keyboards/arisu/keymaps/tbremer/*
